body {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 100%;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.rights {
    width: 100%;
    background-color: #00008b;
}