body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.book {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.header {
  background-color: white;
  width: 100%;
}
ul li {
  display: inline-block;
}
.author {
  color: blue;
}
header {
  width: 100%;
  background-color: white;
  padding: none;
}
.bookSearch {
  width: 40%;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product {
  padding: 15px;
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
  padding-top: 15px;
}
.container {
  padding: none;
}
.buy {
  padding-bottom: 3px;
}
ul li {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  float: right;
}
ul li a:hover {
  text-decoration: none;
  color: black;
}
